<!DOCTYPE html>
<html>
<head>
  <title>Diverse Application Identifier</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <a%- include(); %>
</head>
<body style="background-color:rgb(243, 243, 242, 0.979);">  

<P>Data is processing.Results available in few Mins</P>
<a href="/results">View Result</a>
<br><br>
<img width="200" height="200" src= "/stylesheets/loading.png" />

</body>
</html>