body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table{
  background-color: lightblue;
  text-align: center;
}

tr:hover {background-color: coral;}

h3 {text-align: center;}
a {font-size: large;}
